.song-card {
  width: 100%;
  height: 0;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  border-radius: 1vw;
  position: relative;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
}

.song-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(21, 23, 28, 0.2) 10%,
    rgba(41, 122, 214, 0.8) 50%,
    rgba(21, 23, 28, 0.2) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
.songtitle {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.songartist {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
}
.song-card-liststyle {
  width: 100%;
  height: 5rem;
  border-radius: 1vw;
  position: relative;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.song-details-liststyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  border-radius: 1vw;
}
.songtitle-liststyle {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.songartist-liststyle {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
}


.searchbar {
  height: 2rem;
  margin-left: 0.01rem;
  margin-top: 0.5rem;
  background: rgba(21, 23, 28, 1);
  border: 0px;
  color: white;
}
.searchwidth {
  width: 80%;
}
.searchbar::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.searchbar:focus {
  background: rgba(21, 23, 28, 1);
  backdrop-filter: blur(15px);
  color: white;
  border: 0px;
  outline: none;
}
.searchbutton {
  height: 2rem;
  background: rgba(21, 23, 28, 1);
  color: white;
  padding-right: 20px;
  margin-top: 0.5rem;
}
.loadmorebutton {
  background: rgba(21, 23, 28, 0.4);
  backdrop-filter: blur(15px);
  color: white;
}
@media screen and (max-width: 1400px) {
  .songtitle {
    font-size: 1.5rem;
  }
  .songartist {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .songtitle {
    font-size: 1.25rem;
  }
  .songartist {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 760px) {
  .searchbutton {
    padding-right: 10px;
  }
  .searchwidth {
    width: 90%;
  }
}
