.song-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 20px;
    overflow-y: scroll;
    padding: 20px;
  }
  @media (max-width: 960px) {
    .song-grid {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  
  .card {
    max-width: 100%;
  }
  
  .card-body {
    padding: 10px;
  }