.song-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  gap: 20px;
  overflow-y: scroll;
  padding: 20px;
}
@media (max-width: 960px) {
  .song-grid {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

.song-card {
  width: 25vw;
  height: 25vw;
  background-size: contain;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.125); /* White inner shadow */
  border-radius: 20px;
}
.song-details {
  backdrop-filter: blur(5px) brightness(80%);
  border-radius: 20px;
}
