/*Segít megtalálni a dolgoknak a helyzetét*/
.bt{
  border: 1px solid black;
}
.btw{
  border: 1px solid white;
}

a{
  text-decoration: none;
  color: black;
}

.navbar {
  /*position: fixed;*/
  width: 100%;
  height: 55px;
}
.search {
  height: 30px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-dark {
  color: #F9F6EE;
}
.text-justify{
  text-align: justify;
}