/*Segít megtalálni a dolgoknak a helyzetét*/
.bt{
  border: 1px solid black;
}
.btw{
  border: 1px solid white;
}

a{
  text-decoration: none;
  color: black;
}

.bg-dark {
  color: #F9F6EE;
}
.text-justify{
  text-align: justify;
}

.AppDisplayPage{
  margin-left: 16.5rem;
}
@media screen and (max-width: 960px) {
  .AppDisplayPage{
    margin-left: 0;
  }
}