.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .scroll-content {
    display: inline-block;
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-70%);
    }
  }
  
  .scrolling {
    animation-delay: 3s;
    animation: scrollAnimation 15s linear infinite;
  }