<<<<<<< HEAD
.playericon{
    width: 0.8rem;
    height: 0.8rem;
    color: rgba(255,255,255,1);
}

.volumeslider{
    text-align: left;
}

.musicThumbnail{
    height: 5rem;
    width: auto;
=======
.playerbuttons{
    width: 20px;
    height: 20px;
}
.szelesseg{
    height: "10vh";
    position: "fixed";
    bottom: "0";
    width: calc(100%-15.6rem);
}
.footerdiv{
    width: calc(100%/3);
}
.volumeslider{
    text-align: justify;
>>>>>>> 8981153f902e5aa9aaf288e854ae27dfc7e97567
}