.playericon {
  width: 0.8rem;
  height: 0.8rem;
  color: rgba(255, 255, 255, 1);
}

.volumeslider {
  text-align: left;
}

.musicThumbnail {
  height: 5rem;
  width: auto;
}

.musicPlayer {
  width: calc(100% - 15.6rem);
  height: 5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(21, 23, 28, 0.7);
  backdrop-filter: blur(15px);
}

.songdetailsplayer {
  margin-left: -10px;
  overflow-x: hidden;
}
.songtitleplayer {
  font-size: 1.25rem;
  white-space: nowrap;
}
.songartistplayer {
  font-size: 0.85rem;
  margin-top: -1rem;
  overflow-x: hidden;
}

.progressBar{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
.progressBar::-webkit-slider-runnable-track{
  background: #ffffff;
  height: 0.5rem;
  border-radius: 20px;
}
.progressBar::-moz-range-track{
  background: #ffffff;
  height: 0.5rem;
  border-radius: 20px;
}
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none; 
  background-color: rgba(41, 122, 214, 1);
  border-radius: 100%;
  margin-top: -4px;
  height: 1rem;
  width: 1rem;    
}
.progressBar::-moz-range-thumb {
  border: none; 
  border-radius: 0; 
  background-color: rgba(41, 122, 214, 1);
  height: 2rem;
  width: 1rem;
}
@media screen and (max-width: 960px) {
  .musicPlayer {
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(21, 23, 28, 0.7);
    backdrop-filter: blur(15px);
  }
}
@media screen and (max-width: 760px) {
  .musicPlayer {
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(21, 23, 28, 0.7);
    backdrop-filter: blur(15px);
  }
}


.musicPlayerMobile{
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(21, 23, 28, 0.7);
  backdrop-filter: blur(15px);
}
.mobileSmallContainer{
  width: 103.1vw;
}
.playericonMobile {
  width: 3vh;
  height: 3vh;
  color: rgba(255, 255, 255, 1);
}
.volumesliderMobile{
  display: none;
}
.songdetailsplayerMobile {
  height:100%;
  align-items: center;
  overflow-x: hidden;
}
.songtitleplayerMobile {
  font-size: 2vh;
  white-space: nowrap;
}
.songartistplayerMobile {
  font-size: 1.5vh;
  margin-top: -4vh;
  overflow-x: hidden;
}

.musicPlayerMobileFullscreen{
  width: 100%;
  height: calc(100% - 5rem);
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(21, 23, 28, 0.7);
  backdrop-filter: blur(15px);
}
.playericonMobileFullscreen {
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(255, 255, 255, 1);
}
.playericonMobileFullscreenPlayPause{
  width: 2rem;
  height: 2rem;
  color: rgba(255, 255, 255, 1);
}
.volumesliderMobileFullscreen {
  text-align: center;
}
.musicThumbnailMobileFullscreen {
  height: 100%;
  width: 100%;
}
.thumbnailContainerMobile{
  height: 45vh;
  width: 45vh;
  margin:auto;
  margin-bottom: 14vh;
}
.songdetailsplayerMobileFullscreen{
  margin-top: 1vh;
  text-align: center;
}
.songtitleplayerMobileFullscreen{
  font-size: 4vh;
  width: 100%;
}
.songartistplayerMobileFullscreen{
  font-size: 3vh;
  margin-top: -3vh;
  width: 100%;
}
.songcontrolsMobileFullscreen{
  width: 95%;
  margin:auto;
}

.closebuttonMobileFullscreen{
  width: 100%;
  text-align: center;
  margin-top:1vh;
  margin-bottom: 1vh;
  font-size: 4vh;
}

.position-normal {
  animation-delay: 0.01s;
  animation: moveScreen 0.2s forwards;
}
.position-fullscreen {
  transform: translateY(100%);
  animation: moveScreenBack 0.2s forwards;
}
@keyframes moveScreen {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes moveScreenBack {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}