/*Segít megtalálni a dolgoknak a helyzetét*/
.bt{
  border: 1px solid black;
}
.btw{
  border: 1px solid white;
}

a{
  text-decoration: none;
  color: black;
}

.bg-dark {
  color: #F9F6EE;
}
.text-justify{
  text-align: justify;
}


.AppDisplayPage{
  padding-left: 15.6rem;
  padding-bottom: 5rem;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  background-image: url('./Components/img/TrillenceBackground.png');
  background-size:cover;
}

@media screen and (max-width: 960px) {
  .AppDisplayPage{
    padding-left:0rem;
  }
}

.embedFrame{
  width: calc(100% - 15.6rem);
  height: calc(100% - 5rem);
  overflow: hidden;
  position: fixed;
}

@media screen and (max-width: 960px) {
  .embedFrame{
    width: 100%;
  }
}

.hiddenscrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
.hiddenscrollbar::-webkit-scrollbar {
  display: none; /*Chrome*/
}

.proba1{
  max-height: 50vh;
  overflow: scroll;
}


/*Styling all of the scrollbars*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkgray; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





/*FORMAT CODE SHIFT+ALT+F*/