/*Segít megtalálni a dolgoknak a helyzetét*/
.bt{
  border: 1px solid black;
}
.btw{
  border: 1px solid white;
}

a{
  text-decoration: none;
  color: black;
}

.bg-dark {
  color: #F9F6EE;
}
.text-justify{
  text-align: justify;
}


.AppDisplayPage{
  padding-left: 15.6rem;
  width: 100%;
  height:100%;
  position: fixed;
  background-color: #297AD6;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #297AD6 50px ), repeating-linear-gradient( #00000055, #000000 );
}

@media screen and (max-width: 960px) {
  .AppDisplayPage{
    padding-left:0rem;
  }
}

.spotdlFrame{
  width: calc(100% - 15.6rem);
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.musicPlayer{
  width: calc(100% - 15.6rem);
  height: 5rem;
  position: fixed;
  bottom:0;
  background: #15171c;
}


@media screen and (max-width: 960px) {
  .spotdlFrame{
    width: 100%;
  }
  .musicPlayer{
    width: 100%;
  }
}

.hiddenscrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
.hiddenscrollbar::-webkit-scrollbar {
  display: none; /*Chrome*/
}

.proba1{
  max-height: 50vh;
  overflow: scroll;
}